.App {
  color: blanchedalmond;
  text-shadow: 5px 5px black;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapertag.com/wallpaper/full/c/2/c/516871-mtg-desktop-backgrounds-2560x1600-htc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.theCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: ;
}

.cardName {
}

.modalImage {
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
}

.loading {
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapertag.com/wallpaper/full/b/2/b/516873-most-popular-mtg-desktop-backgrounds-2560x1600-pc.jpg);
  background-size: cover;
  font-size: 50px;
  text-align: center;
}
